$_color-background: #fff;
$_shadow-background: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
$_shadow-btn: 0 1px 2px 0 rgba(122,142,160,0.60);
$_color-btn: #f3f1ef;
$_color-main: #45B6BC;
$_color-sub: darken($_color-main, 2%);
$_color-font: #596067;
